.main {
  padding: 0rem;
  display: flex;
  justify-items: center;
}

.side-month {
  writing-mode: vertical-rl;
  text-align: center;
  vertical-align: middle;
}

.curr-month {
  flex-grow: 1;
  text-align: center;
  border: 1px solid black;
}

.curr-month h2 {
  padding: 0;
  margin: 0;
}

.add {
  position: fixed;
  right: 2rem;
  bottom: 1rem;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.add > a {
  display: inline-block;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: 1px solid black;

  background-color: white;
  color: black;

  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
}