.container {
  display: flex;
  flex-direction: column;
}

.sets {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}

.sets > button {
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  border: 1px solid grey;
  color: gray;
  border-radius: 50%;
  background-color: white;
}

.sets > button.done {
  border: 1px solid green;
  color: green;
  background-color: lightgreen;
}

.exit button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}
